/*Global css*/
html {
  font-size: 16px;
  color: rgb(7, 7, 7);

}

a {
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

p,
span {
  line-height: 1.5rem;
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
}

section {
  width: 100%;
}

h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: 'Rufina', serif;

}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: 'Rufina', serif;
}

h3 {
  font-size: 1.5rem;
  font-weight:bold;
  font-family: 'Rufina', serif;

}

/*Main css*/
.flex-container{
  display: flex;
}

.flex-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.flex-left img,
.flex-left video {
  width: 100%;
  height: auto;
}

.flex-left span {
  padding: 1rem 0;
}

.flex-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.side-bar {
  display: flex;
  align-items: center;
  border-bottom: .5px solid rgb(155, 155, 155);
  transition: all .5s ease-out;
}

.side-bar img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.side-bar:hover {
  background-color: rgb(240, 240, 240);
}

.text {
  flex-direction: column;
  justify-content: center;
}

.text span {
  display: block;
  padding: .5rem 0;
}

.headline {
  text-align: center;
  padding-top: 2rem;
  font-size: 3rem;
}

/*Header css*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
  width: auto;
  margin: 0 auto;
  background-color: rgb(51, 54, 57);
  color: rgb(240, 240, 240);
}

header ul li {
  display: inline-block;
  padding-left: 1rem;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

.mobile-nav img {
  width: 2rem;
  height: auto;
}

header a {
  font-weight: 700;
  color: rgb(240, 240, 240);
}

header a:visited {
  color: rgb(155, 155, 155);
}

.brand {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: auto 0;
  font-size: 1.25rem;
  font-family: 'Oxygen', sans-serif;

}

.brand img {
  height: 2.5rem;
}

/*Header Media Queries*/
@media only screen and (min-width: 680px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 680px) {
  .full-nav {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .brand {
    display: none;
  }

  .mobile-nav {
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  ul li {
    padding: 0;
  }
}


/*Banner css*/
#banner {
  background-color: rgb(240, 240, 240);
}

#banner .flex-right {
  justify-content: center;
  padding-bottom: 5rem;
}

#banner h1,
#banner h3,
#banner .button {
  margin-left: 1rem;
  margin-top: 2rem;
}

#banner h3 {
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.button {
  font-size: 1.25rem;
  width: 75%;
  background-color: gray;
  padding: .75rem;
  text-align: center;
  background-color: rgb(51, 54, 57);
  color: rgb(240, 240, 240);
  transition: all .6s ease-out;
}

.button span {
   font-weight: bold;
}

.button:hover {
  background-color: rgb(204, 0, 0, 1);

}


/*Banner Media Queries*/

@media only screen and (max-width: 630px) {
  #banner {
    flex-direction: column;
  }

  #banner .flex-left {
    width: 100%;
    padding: 0;
  }

  #banner .flex-right {
    width: 100%;
    padding-bottom: 2rem;
  }

  #banner .button {
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 980px) {
  #banner h1 {
    font-size: 2rem;
  }

  #banner h3 {
    font-size: 1rem;
  }
}




/*Guide css*/
#guide {
  background-color: lightgray;
}

#guide h2 {
  padding: 2rem 0 1.5rem 0;
}

#guide .flex-right {
  padding-top: 1rem;
  border-left: .5px solid rgb(155, 155, 155);
}

#guide a {
    color: rgb(204, 0, 0);
}

#guide a:visited {
  color: rgb(7, 7, 7);
}

/*Guide Media Queries*/
@media only screen and (max-width: 480px) {
  #guide .flex-left {
    display: none;
  }

  #guide .flex-right {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .side-bar {
    flex-direction: column;
    border: none;

  }

  .side-bar img {
    width: 100%;
    padding: 0;
  }

  .image1 {
    display: none;
  }

  .text {
    width: 100%;
    padding: 2rem 0 2rem 2rem;
  }
}

@media only screen and (min-width: 480px) {
  .image2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #guide {
    flex-direction: column;
  }

  #guide .flex-left {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }

  #guide .flex-left h2 {
    margin-left: 1rem;
  }

  #guide .flex-left p {
    margin-left: 1rem;
  }

  #guide .flex-left span {
    margin-left: 1rem;
  }

  #guide .flex-right {
    width: 100%;
  }
}


/*Courses css*/
#courses {
  flex-wrap: wrap;
  padding: 2rem 4rem;
  justify-content: center;
}

.courses-full {
  background-color: rgb(240, 240, 240);
}

.class {
  padding: 0;
  margin: 0 1rem 1rem 1rem;
  width: 30%;
  background-color: rgb(51, 54, 57);
  color: rgb(240, 240, 240);
  transition: background-color 1s ease-out;
}

.class:hover {
  background-color: rgb(155, 155, 155);
}

.class-text {
  padding: 1.5rem;

}
.class-text span {
  display:block;
  padding: .5rem 0;
  font-weight: bold;
}

.courses-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem 2.5rem 1rem;
  border-bottom: .5px solid lightgray;
  border-top: .5px solid lightgray;
  background-color: rgb(240, 240, 240);
}

.courses-mobile h2 {
  margin: 2rem auto;
}

.courses-mobile h3 {
  padding: 1.5rem 1rem;
  margin-bottom: .5rem;
  background-color: rgb(51, 54, 57);
  color: rgb(240, 240, 240);
  transition: background-color 1s ease-out;
}

.courses-mobile h3:hover {
  background-color: rgb(155, 155, 155);
}

/*Course Media Querys*/
@media only screen and (max-width: 822px) {
  .courses-full {
    display: none;
  }
}

@media only screen and (min-width: 822px) {
  .courses-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1110px){
  #courses {
    padding: 2rem 2rem;
  }

  .class {
    width: 25%;
  }
}


/*Thesis css*/

.thesis {
  box-sizing: border-box;
  padding-right: 1rem;
  background-color: lightgray;
}

#info {
  padding-top: 3rem;
}

.thesis .side-bar {
  border: none;
}

.thesis .flex-left h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

/*Thesis Media Query*/
@media only screen and (max-width: 480px) {
  .thesis h3,
  .thesis p {
    display: none;

  }
}
@media only screen and (max-width: 840px) {
  #info {
    display: none;
  }

  .thesis h3,
  .thesis p {
    padding-left: 1rem;
  }

  .thesis {
    padding: 0;
  }

  .thesis .flex-left {
    width: 100%;
    padding: 2rem 0;
  }
}

/*Footer css*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 5rem 1.5rem;
  border-top: .5px solid lightgray;
  font-size: .825rem;
  background-color: rgb(51, 54, 57);
  color: rgb(240, 240, 240);
}


footer ul li {
  display: inline-block;
  padding-left: 1rem;
  font-family: 'Oxygen', sans-serif;
}

/*Footer Media Query*/

@media only screen and (max-width: 480px) {
  footer {
    padding: 1rem 1.5rem;
  }

  footer nav {
    display: none;
  }

}
