/*Global css*/
html {
  font-size: 16px;
  font-family: Helvetica;
}

p,
span {
  line-height: 1.5rem;
}

section {
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight:bold;
}

.flex-container{
  display: flex;
}

.flex-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
}

.flex-left img,
.flex-left video {
  width: 100%;
  height: auto;
}

.flex-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

/*Header css*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 4rem;
  width: auto;
  margin: 0 auto;
}

header ul li {
  display: inline-block;
  padding-left: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: auto 0;
  font-size: 1.25rem;
}

.brand img {
  height: 2.5rem;
}


@media only screen and (min-width: 780px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .full-nav {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .brand {
    display: none;
  }

  header {
    justify-content: center;
  }
}


/*Banner css*/

#banner {
  background-color: lightgray;
}

#banner .flex-right {
  justify-content: center;
}

#banner h1,
#banner h3,
#banner .button {
  margin-left: 1rem;
}

.button {
  font-size: 1.25rem;
  width: 60%;
  background-color: gray;
  padding: .5rem;
  text-align: center;
}



/*Info css*/
.info h2 {
  padding: 2rem 0 1.5rem 0;
}

.info .flex-right {
  padding-top: 1rem;
  border-left: 1px solid gray;
}

.flex-left span {
  padding: 1rem 0;
}

.side-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.side-bar img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.text {
  flex-direction: column;
  justify-content: center;
}

.text span {
  display: block;
  padding: .5rem 0;
}

/*Courses css*/
#courses {
  flex-wrap: wrap;
  padding: 2rem 4rem;
  justify-content: center;
}

.courses-full {
  background-color: lightgray;
}

.headline {
  text-align: center;
  padding-top: 2rem;
}

.class {
  padding: 0;
  margin: 0 1rem 1rem 1rem;
  width: 30%;
  background-color: white;
}

.class-text {
  padding: 1.5rem;
}
.class-text span {
  display:block;
  padding: .5rem 0;
}

/*Course Media Querys*/
@media only screen and (min-width: 780px) {
  .courses-mobile {
    display: none;
  }
}

/*Thesis css*/
#info {
  padding-top: 3rem;
}

.thesis .side-bar {
  border: none;
}

.thesis .flex-left h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}


/*Footer css*/
